<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayHub</title>
    <link rel="icon" href="/assets/only_logo.png">
    <link rel="stylesheet" href="/css/landingPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="video-container">
        <video autoplay muted loop>
            <source src="assets/video.mp4" />
        </video>
        <div class="caption">
          <h2>WELCOME TO</h2>
          <h1>StayHub</h1>
          <h3>YOUR HUB FOR MEMORABLE STAYS</h3>
        </div>
        <a href="/listings"><button id="button">Explore</button></a>
    </div>
</body>
</html>