
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.container{
    width: 100%;
    flex: 1;
}

/* header */
.navbar{
    height: 4.5rem;
}

.navbar-nav>a{
    margin-left: 1rem;
    font-size: 1.2rem;
}

.nav-link{
    color: #222 !important;
}


/* footer */
.f-info-links a{
    text-decoration: none;
    color: #fff;
}

.f-info-links a :hover{
    text-decoration: underline ;
}

.f-info-links, .f-info-socials, .f-info-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 2rem;
    color: white;
}

.f-info{
    display: flex;
    height: 8rem;
    background-color: #221815;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* listing */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.filter-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    gap: 1rem;
}

.filter-bttn{
    border: 1px solid #222 ;
    background-color: transparent;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    padding: 0.6rem;
}

#filters{
    display: flex;
    /* flex-wrap: nowrap; */
    overflow-x: scroll;
    scrollbar-width: none;
}
#filters::-webkit-scrollbar {
    display: none;
}
.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.8;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter p{
    font-size: 0.8rem;
}

@media (width<1000px){
    .filter-div{
        display: none;
    }
}

/* card effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new listing */
.btn-color{
    background-color: #fff !important;
    color: #221815 !important;
    border: solid #221815 !important;
}

/* show page */
.show-img{
    object-fit: cover;
    height: 40vh ;
    width: 15rem;
    border-radius: 1rem;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

